$link: rgb(96, 157, 243)
    
.article-styled-body
    a
        color: $link
        text-decoration: none
        transition: all

        &:hover
            color: darken($link, 10)

    img
        width: 100%